@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    min-height: 100vh;
    font-size: 18px;
    place-items: center;
    position: relative;
}


.container {
    margin: auto auto;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 10px 10px hsla(241, 100%, 89%,0.1);
    border-radius: 30px;
}

.left-section {
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    max-width: 360px;
    padding: 40px 20px;
    height: 500px;
    border-radius: 30px;
}

h4 {
    text-align: center;
    color: hsl(241, 100%, 89%);
    font-size: 1.4rem;
    padding-bottom: 35px;
}

.circle {
    border-radius: 50%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    width: 190px;
    height: 190px;

    text-align: center;
    padding: 40px;
    margin: 0 auto;

}

.circle-top {
    font-size: 4rem;
    color: hsl(0, 0%, 100%);
}

p {
    color: hsl(241, 100%, 89%);
    font-size: 18px;
}

h3 {
    text-align: center;
    padding-top: 30px;
    font-size: 2rem;
    color: hsl(0, 0%, 100%);
}

.bottom {
    text-align: center;
    padding: 15px 37px;
    color: hsl(241, 100%, 89%);
    font-size: 18px;
}

/* right section work */

.right-section {  
    height: 500px;
    padding: 40px 30px;
    border-radius: 30px;
    max-width: 360px;
    width: 100vw;
}

.right-section h1 {
    font-size: 25px;
}

.box-icon {
    text-align: center;
    margin: -3px 12px -3px 2px;
    max-width: 100%;
    
}

.box1 {
    margin-top: 25px;
    padding: 16px;
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%,0.1);
    border-radius: 10px;
    text-align-last: justify;
}

.box2 {
    margin-top: 15px;
    padding: 16px;
    text-align-last: justify;
    background-color: hsla(39, 100%, 56%,0.1);
    border-radius: 10px;
    color: hsl(39, 100%, 56%);
}

.box3 {
    padding: 16px;
    text-align-last: justify;
    margin-top: 15px;
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%,0.1);
    border-radius: 10px;
}

.box4 {
    padding: 16px;
    text-align-last: justify;
    margin-top: 15px;
    border-radius: 10px;
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%,0.1);
}

.boxes .btn {
    padding: 18px 118px;
    border-radius: 35px;
    background-color: hsl(224, 30%, 27%);
    color: white;
    font-size: 18px;
    margin: 30px 4px;
    border-style: none;
    cursor: pointer;
}

.boxes .btn:hover{
    padding: 18px 118px;
    border-radius: 35px;
    background-color: hsl(241, 81%, 54%);
    color: white;
    font-size: 18px;
    margin: 30px 4px;
    border-style: none;
    cursor: pointer;
}

span {
    color: hsl(224, 30%, 27%);
    margin-right: 18px;
    font-weight: bold;
}

.total {
    color: grey;
    margin-left: -10px;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        border-radius: 0px;
        padding: 0;
    }
    .left-section {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}
